include README.md LICENSE
include find_version.py
graft generated
global-include CMakeLists.txt *.cmake
recursive-include src *
recursive-include pybind11/include *.h
graft depthai-core
prune depthai-core/build
prune build
prune wheelhouse
prune dist
