Pillow==9.3.0
psutil==5.9.3
numpy>=1.21.4,<3 # For RPi Buster (last successful build) and macOS M1 (first build). But allow for higher versions, to support Python3.11 (not available in 1.21.4 yet). Likely won't work with numpy 3.x when it comes out.
opencv-contrib-python==4.5.5.62 # Last successful RPi build, also covers M1 with above pinned numpy (otherwise 4.6.0.62 would be required, but that has a bug with charuco boards). Python version not important, abi3 wheels
pyqt5>5,<5.15.6 ; platform_machine != "armv6l" and platform_machine != "armv7l" and platform_machine != "aarch64" and platform_machine != "arm64"
--extra-index-url https://artifacts.luxonis.com/artifactory/luxonis-python-snapshot-local/
# Latest version (note - it's yanked)
PySimpleGUI==4.60.5
depthai
